<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de Calcul</title>

</head>
<body>
    <h1>Formulaire de Calcul</h1>
    <form action="/distribute" method="post">
        <label for="budget">Budget global :</label>
        <input type="text" id="budget" name="budget"><br><br>

<div>
            <label for="name1">Nom du bénéficiaire 1 :</label>
            <input type="text" id="name1" name="names"><br>
            <label for="amount1">Montant :</label>
            <input type="text" id="amount1" name="amounts"><br>
            <label for="days1">Jours travaillés :</label>
            <input type="text" id="days1" name="days"><br><br>
        </div>

        <div>
            <label for="name2">Nom du bénéficiaire 2 :</label>
            <input type="text" id="name2" name="names"><br>
            <label for="amount2">Montant :</label>
            <input type="text" id="amount2" name="amounts"><br>
            <label for="days2">Jours travaillés :</label>
            <input type="text" id="days2" name="days"><br><br>
        </div>

        <div>
            <label for="name3">Nom du bénéficiaire 3 :</label>
            <input type="text" id="name3" name="names"><br>
            <label for="amount3">Montant :</label>
            <input type="text" id="amount3" name="amounts"><br>
            <label for="days3">Jours travaillés :</label>
            <input type="text" id="days3" name="days"><br><br>
        </div>

        <div>
            <label for="name4">Nom du bénéficiaire 4 :</label>
            <input type="text" id="name4" name="names"><br>
            <label for="amount4">Montant :</label>
            <input type="text" id="amount4" name="amounts"><br>
            <label for="days4">Jours travaillés :</label>
            <input type="text" id="days4" name="days"><br><br>
        </div>

        <div>
            <label for="name5">Nom du bénéficiaire 5 :</label>
            <input type="text" id="name5" name="names"><br>
            <label for="amount5">Montant :</label>
            <input type="text" id="amount5" name="amounts"><br>
            <label for="days5">Jours travaillés :</label>
            <input type="text" id="days5" name="days"><br><br>
        </div>
        <input type="submit" value="Calculer">
    </form>
</body>
</html>
