<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de Calcul</title>

</head>
<body>
    <h1>Formulaire de Calcul</h1>
    <form action="/distribute" method="post">
        <label for="budget">Budget :</label>
        <input type="text" id="budget" name="budget"><br><br>

        <label for="name1">Nom du bénéficiaire 1 :</label>
        <input type="text" id="name1" name="name1"><br><br>

        <label for="name2">Nom du bénéficiaire 2 :</label>
        <input type="text" id="name2" name="name2"><br><br>

        <label for="name3">Nom du bénéficiaire 3 :</label>
        <input type="text" id="name3" name="name3"><br><br>

        <label for="name4">Nom du bénéficiaire 4 :</label>
        <input type="text" id="name4" name="name4"><br><br>

        <label for="name5">Nom du bénéficiaire 5 :</label>
        <input type="text" id="name5" name="name5"><br><br>

        <input type="submit" value="Calculer">
    </form>
</body>
</html>
